.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  height: 60px;
  z-index: 2;
  box-shadow: 0px 5px 18px -5px rgba(5, 5, 50, 0.15);
}

.menu-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.menu-logo {
  flex: 0 0 100px;
  overflow: hidden;
  position: relative;
  z-index: 3;
  margin-top: 4px;
  cursor: pointer;
}

.menu-logo img {
  max-width: 100%;
}

.header-burger {
  display: none;
}

.menu-list {
  display: flex;
  position: relative;
  z-index: 2;
}

.menu-list__item {
  margin-right: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

@media (max-width: 616px) {
  body.lock {
    overflow: hidden;
  }

  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header-burger span {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header-burger::before,
.header-burger::after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header-burger::before {
    top: 0;
  }

  .header-burger::after {
    bottom: 0;
  }

  .header-burger.active span {
    transform: scale(0);
  }

  .header-burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header-burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #d91c24;
    padding: 80px 20px 20px 20px;
    transition: all 0.3s ease 0s;
  }

  .menu.active {
    top: 0;
  }

  .menu-list {
    display: block;
  }

  .menu-list li {
    padding-bottom: 20px;
  }

  .menu-list__item {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
  }

  .header::before,
.menu-body {
    height: 60px;
  }
}